
<ul>
  <li th:each="ingredient : ${meet}">
    <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
  </li>
</ul>

<ul>
  <li th:each="ingredient : ${spice}">
    <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
  </li>
</ul>

<ul>
  <li th:each="ingredient : ${tortilla}">
    <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
  </li>
</ul>


<ul>
  <li th:each="ingredient : ${souse}">
    <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
  </li>
</ul>
